html {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-noto {
  font-family: "Noto Sans";
}

.font-oswald {
  font-family: "Oswald";
}

.font-philosopher {
  font-family: "Philosopher";
}
