#root,
html,
body {
  margin: 0;
}

html {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-noto {
  font-family: "Noto Sans", sans-serif;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-philosopher {
  font-family: "Philosopher", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
